keras==2.3.1
matplotlib==3.3.1
numpy==1.19.1
pandas==1.1.1
python==3.6.10
scipy==1.5.2
tensorflow==1.13.1
audioread==2.1.8
jams==0.3.4
librosa==0.8.0
mir-eval==0.6
muda==0.4.1
pescador==2.1.0
pumpp==0.5.0
pysoundfile==0.9.0.post1
soundfile==0.10.3.post1
sox==1.4.0